/* GENERAL RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* HEADER */

.main-header .site-navbar {
    background-color: #2c3e50;
}
.main-header .site-brand {
    font-size: 1.5rem;
}
.main-header .site-navbar a.color-link{
    color: white;
}
.main-header .site-navbar a.color-link:hover{
    color: #1abc9c;
}


/* SEZIONE A */

.sec_a {
    /* height: 100px; */
    background: #1abc9c;
    flex-direction: column;
    padding: 20px;
    color: white;
}

    .sec_a img {
        width: 270px;
        margin: 10px auto;
    }

        .sec_a h5 {
        margin: 0 auto;    
    }

    .stella {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .stella i {
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 5px;
    }

    .titolo_e_stellina .stella hr{
        width: 80px;
        opacity: unset;
        height: 3px;
        border-radius: 50px;

    }

    .titolo_e_stellina h3 {
        display: flex;
        justify-content: center;
    }

    .titolo_e_stellina {
        flex-direction: column;
        margin: 0 auto;
    }
   


/* SEZIONE B */

.sec_b .titolo_e_stellina i {
    color: black;
}

.container .row img {
    width: 100%;
}

/* .sec_b .container .row {
    min-width: 575px;
}
 */
.mgb-20 {
    margin-bottom: 20px;
} 

.pd-40 {
    padding: 40px;
}

/* .contenitore_prova {
    width: 100%;
    padding: 20px;
}

.contenitore_prova img {
    width: 100%;
    border-radius: 10px;
} */


/* SEZIONE C */

.section_c {
    background: #1abc9c;
}

.section_c .sec_c button {
    background-color: #1abc9c;
    border-color: white;
    color: white;
    margin: 20px 0;
}

.testo {
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-direction: column;
}


/* SEZIONE D */

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="text"],
.registration-form textarea {
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="text"],
.registration-form textarea:focus {
    border-color: rgb(168, 103, 103);
    box-shadow: none;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="text"],
.registration-form textarea {
    height: 60px;
    padding: 0;
}

.registration-form textarea {
    height: 200px;
    padding: 1rem 0;
}








.st_sec_c {
    /* height: 100px; */
    background: #bb3e03;
}

.st_sec_d {
    height: 100px;
    background: #ee9b00;
}

.st_sec_e {
    height: 100px;
    background: #e9d8a6;
}

.st_sec_f {
    height: 100px;
    background: #94d2bd;
}

.flex {
    display: flex;
}


                                  
